<!DOCTYPE html>
<!-- upto 2 directory depth-->
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Phuree's Portfolio</title>
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="crossorigin"
    />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      />
    </noscript>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link
      href="./css/font-awesome/css/all.min.css?ver=1.2.0"
      rel="stylesheet"
    />
    <link
      href="./css/bootstrap-icons/bootstrap-icons.css?ver=1.2.0"
      rel="stylesheet"
    />
    <link href="./css/bootstrap.min.css?ver=1.2.0" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
  </head>

  <body id="top">
    <div id="app">
      <div
        v-for="(p,i) in ports"
        class="modal fade"
        :id="p.id"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{p.name}}</h5>
              <button
                type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="project-description m-content">{{ p.desc }}</p>
              <div class="row content-tool m-content">
                <div class="col-12 col-md-4 col-lg-3 mt-2">Front End:</div>
                <div class="col-12 col-md-8 col-lg-9 mt-0 mt-lg-1">
                  <img
                    v-for="i in p.front"
                    class="mt-1"
                    width="30"
                    style="margin: 0 5px"
                    :src="skills[i].icon"
                  />
                </div>
                <div class="col-12 col-md-4 col-lg-3 mt-2">Back End:</div>
                <div class="col-12 col-md-8 col-lg-9 mt-0 mt-lg-1">
                  <img
                    v-for="i in p.back"
                    class="mt-1"
                    width="30"
                    style="margin: 0 5px"
                    :src="backend[i].icon"
                  />
                </div>
                <div class="col-12 col-md-4 col-lg-3 mt-2">Tools:</div>
                <div class="col-12 col-md-8 col-lg-9 mt-0 mt-lg-1">
                  <img
                    v-for="i in p.tool"
                    width="30"
                    class="mt-1"
                    style="margin: 0 5px"
                    :src="cloud[i].icon"
                  />
                  <img
                    v-for="i in p.other"
                    class="mt-1"
                    width="30"
                    style="margin: 0 5px"
                    :src="other[i].icon"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <header class="bg-light">
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light"
          id="header-nav"
          role="navigation"
        >
          <div class="container">
            <a class="link-dark navbar-brand site-title mb-0" href="#"
              >Phuree's Portfolio</a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto me-2">
                <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#job-experienced">Working Experienced</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#services">Experienced Fields</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
                </li><li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="page-content">
        <div id="content">
          <header>
            <div class="cover bg-light">
              <div class="container px-3">
                <div class="row">
                  <div class="col-lg-6 p-2">
                    <img
                      class="img-fluid"
                      src="images/illustrations/hello3.svg"
                      alt="hello"
                    />
                  </div>
                  <div class="col-lg-6">
                    <div class="mt-5">
                      <p class="lead text-uppercase mb-1">Hello!</p>
                      <h1
                        class="intro-title marker"
                        data-aos="fade-left"
                        data-aos-delay="50"
                      >
                        I’m Phuree Kanusont
                      </h1>
                      <p
                        class="lead fw-normal mt-3"
                        data-aos="fade-up"
                        data-aos-delay="100"
                      >
                        Software Engineer
                      </p>
                      <div
                        class="social-nav"
                        data-aos="fade-up"
                        data-aos-delay="200"
                      >
                        <nav role="navigation">
                          <ul class="nav justify-content-left">
                            <li class="nav-item">
                              <a
                                class="nav-link"
                                href="https://www.facebook.com/phureek"
                                title="Facebook"
                                ><i class="fab fa-facebook"></i
                                ><span class="menu-title sr-only"
                                  >Facebook</span
                                ></a
                              >
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link"
                                href="https://www.instagram.com/_imyora"
                                title="Instagram"
                                ><i class="fab fa-instagram"></i
                                ><span class="menu-title sr-only"
                                  >Instagram</span
                                ></a
                              >
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link"
                                href="https://www.linkedin.com/in/phuree-kanusont-33482a231/"
                                title="Linkedin"
                                ><i class="fab fa-linkedin"></i
                                ><span class="menu-title sr-only">Linkedin</span></a
                              >
                            </li>
                          </ul>
                        </nav>
                      </div>
                      <div class="mt-3" data-aos="fade-up" data-aos-delay="200">
                        <a
                          class="btn btn-primary shadow-sm mt-1 hover-effect"
                          href="#contact"
                          >Get In Touch <i class="fas fa-arrow-right"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wave-bg"></div>
          </header>
          <div class="section pt-4 px-3 px-lg-4" id="about">
            <div class="container-narrow">
              <div class="row">
                <div class="col-md-6 order-2 order-md-1">
                  <h2 class="h4 mt-3 mt-md-2 my-2">
                    Hello! I'm Phuree Kanusont.
                  </h2>
                  <p style="text-align: justify;">
                    I graduated from branch of Software Engineering, faculty of
                    Information Technology, King Mongkut's Institute of
                    Technology Ladkrabang. I am passionate in technologies. I am
                    a skilled software engineer with experience in Cloud
                    Technologies, a quick learner and a team worker that
                    gets the job done for my ultimate goal which is being an
                    excellent developer.
                  </p>
                  <div class="row mt-3">
                    <div class="col-sm-2">
                      <div class="pb-1">Age:</div>
                    </div>
                    <div class="col-sm-10">
                      <div class="pb-1 fw-bolder">{{ age }}</div>
                    </div>
                    <div class="col-sm-2">
                      <div class="pb-1">Email:</div>
                    </div>
                    <div class="col-sm-10">
                      <div class="pb-1 fw-bolder">{{ email }}</div>
                    </div>
                    <div class="col-sm-2">
                      <div class="pb-1">Location:</div>
                    </div>
                    <div class="col-sm-10">
                      <div class="pb-1 fw-bolder">{{ address }}</div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-md-5 order-1 order-md-2"
                  data-aos="fade-left"
                  data-aos-delay="100"
                >
                  <img
                    class="avatar img-fluid mt-2"
                    src="images/avatar.jpg"
                    width="400"
                    height="400"
                    alt="Yora Kim"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="section px-3 px-lg-4 pt-5" id="job-experienced">
            <div class="container-narrow">
              <div class="text-center mb-5">
                <h2 class="marker marker-center">Working Experienced</h2>
              </div>

              <div class="timeline">
                <div class="column"
                     data-aos="fade-left"
                     data-aos-delay="200"
                >
                  <div class="title">
                    <h1> 2024 - present </h1>
                    <h2> Muangthai Live (GISX) (ASC)</h2>
                  </div>
                  <div class="description">
                    <p> Front-End Developer</p>
                    <p> I am responsible for developing and maintaining the core group-insurance platform as part of Squad 1, utilizing Module Federation to separate each Next.js micro front-end for efficient development and scaling. </p>
                  </div>
                </div>

                <div class="column"
                     data-aos="fade-left"
                     data-aos-delay="200"
                >
                  <div class="title">
                    <h1> 2022 - 2024 </h1>
                    <h2> SCGC (Getlinks)</h2>
                  </div>
                  <div class="description">
                    <p> Full Stack Developer ({{scgcPeriod.year}}.{{scgcPeriod.month}} Years) </p>
                    <p> I am responsible for developing and maintaining the New Product Design platform, an internal company tool built with React and Node.js (NestJS), following agile methodologies. </p>
                  </div>
                </div>

                <div class="column"
                     data-aos="fade-left"
                     data-aos-delay="300"
                >
                  <div class="title">
                    <h1> 2021 - 2022 </h1>
                    <h2> TOUCH TECHNOLOGIES</h2>
                  </div>
                  <div class="description">
                    <p> Software Engineer (Front End) ({{touchWorkPeriod.month}} Months) </p>
                    <p> I am responsible for developing and maintaining web application in React and Next.js in agile methodology. </p>
                  </div>
                </div>

                <div class="column" data-aos="fade-left" data-aos-delay="400">
                  <div class="title">
                    <h1> 2018-2021 </h1>
                    <h2> Freelance </h2>
                  </div>
                  <div class="description">
                    <p> Full Stack Software Developer </p>
                    <p> The most outstanding project is "Super Jiew Bible Contest" because of application using integrations of application of many cloud technology making it can handle more than 500 active users at the same time. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section px-3 px-lg-4 pt-5" id="services">
            <div class="container-narrow">
              <div class="text-center mb-5">
                <h2 class="marker marker-center">Experienced Fields</h2>
              </div>
              <div class="text-center">
                <p class="mx-auto mb-3" style="max-width: 600px">
                  I have studied multiple essential fields in application
                  development therefore, I am able to finish many projects as a
                  software engineer.
                </p>
              </div>
              <div class="row py-3">
                <div
                  class="col-md-3 text-center"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  <img
                    class="mb-2"
                    src="images/services/frontend.png"
                    width="96"
                    height="96"
                    alt="web design"
                  />
                  <div class="h5">Front End Development</div>
                </div>
                <div
                  class="col-md-3 text-center"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  <img
                    class="mb-2"
                    src="images/services/backend.png"
                    width="96"
                    height="96"
                    alt="graphic design"
                  />
                  <div class="h5">Back End Development</div>
                </div>
                <div
                  class="col-md-3 text-center"
                  data-aos="fade-up"
                  data-aos-delay="300"
                >
                  <img
                    class="mb-2"
                    src="images/services/cloud.png"
                    width="96"
                    height="96"
                    alt="ui-ux"
                  />
                  <div class="h5">Cloud Engineering</div>
                </div>
                <div
                  class="col-md-3 text-center"
                  data-aos="fade-up"
                  data-aos-delay="400"
                >
                  <img
                    class="mb-2"
                    src="images/services/mobileapp.png"
                    width="96"
                    height="96"
                    alt="app development"
                  />
                  <div class="h5">Mobile App Development</div>
                </div>
              </div>
            </div>
          </div>

          <div class="section px-3 px-lg-4 pt-5" id="skills">
            <div class="container-narrow">
              <div class="text-center mb-5">
                <h2 class="marker marker-center">My Skills</h2>
              </div>
              <div class="text-center">
                <p class="mx-auto mb-3" style="max-width: 600px">
                  I am a quick learner and specialize in multitude of skills
                  required for Application Development.
                </p>
              </div>
              <div class="bg-light p-3">
                <div class="row" data-aos="zoom-in-up" data-aos-delay="100">
                  <h3>Front End</h3>
                  <div
                    v-for="(s, i) in skills"
                    :key="s.name"
                    class="col-6 col-md-2 text-center"
                    data-aos="fade-up"
                    :data-aos-delay="(i+1)*50"
                  >
                    <img
                      class="mb-2"
                      :src="s.icon"
                      width="40"
                      height="40"
                      alt="web design"
                    />
                    <div class="h5">{{s.name}}</div>
                  </div>
                </div>
              </div>
              <div class="bg-light mt-2 p-3">
                <div class="row" data-aos="zoom-in-up" data-aos-delay="100">
                  <h3>Back End</h3>
                  <div
                    v-for="(s, i) in backend"
                    :key="s.name"
                    class="col-6 col-md-2 text-center"
                    data-aos="fade-up"
                    :data-aos-delay="(i+1)*50"
                  >
                    <img
                      class="mb-2"
                      :src="s.icon"
                      width="40"
                      height="40"
                      alt="web design"
                    />
                    <div class="h5">{{s.name}}</div>
                  </div>
                </div>
              </div>
              <div class="bg-light mt-2 p-3">
                <div class="row" data-aos="zoom-in-up" data-aos-delay="100">
                  <h3>Cloud Technologies</h3>
                  <div
                    v-for="(s, i) in cloud"
                    :key="s.name"
                    class="col-6 col-md-2 text-center"
                    data-aos="fade-up"
                    :data-aos-delay="(i+1)*50"
                  >
                    <img
                      class="mb-2"
                      :src="s.icon"
                      width="40"
                      height="40"
                      alt="web design"
                    />
                    <div class="h5">{{s.name}}</div>
                  </div>
                </div>
              </div>
              <div class="bg-light mt-2 p-3">
                <div class="row" data-aos="zoom-in-up" data-aos-delay="100">
                  <h3>Others related skills</h3>
                  <div
                    v-for="(s, i) in other"
                    :key="s.name"
                    class="col-6 col-md-2 text-center"
                    data-aos="fade-up"
                    :data-aos-delay="(i+1)*50"
                  >
                    <img
                      class="mb-2"
                      :src="s.icon"
                      width="40"
                      height="40"
                      alt="web design"
                    />
                    <div class="h5">{{s.name}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section px-2 px-lg-4 pt-5" id="portfolio">
            <div class="container">
              <div class="text-center mb-5">
                <h2 class="marker marker-center">Portfolio</h2>
              </div>
              <div
                class="grid bp-gallery pb-3"
                data-aos="zoom-in-up"
                data-aos-delay="100"
              >
                <div class="row gy-3">
                  <div
                    v-for="(p, i) in ports"
                    data-aos="zoom-in-up"
                    :data-aos-delay="(i+1) * 100"
                    class="col-12 col-md-6 col-lg-4"
                  >
                    <img width="100%" :src="p.thumbnail" :alt="p.name" />
                    <div class="content-detail">
                      <h4 class="mt-2">{{p.name}}</h4>
                      <p class="project-description">{{ p.desc }}</p>
                      <button
                        class="btn btn-link"
                        data-bs-toggle="modal"
                        :data-bs-target="'#' + p.id"
                        style="
                          font-weight: 600;
                          margin-bottom: 10px;
                          padding: 10px;
                        "
                        v-if="isMobile"
                      >
                        more detail
                      </button>
                    </div>
                    <div class="row content-tool">
                      <div class="col-12 col-md-4 col-lg-3 mt-2">
                        Front End:
                      </div>
                      <div class="col-12 col-md-8 col-lg-9 mt-0 mt-lg-1">
                        <img
                          v-for="i in p.front"
                          class="mt-1"
                          width="30"
                          style="margin: 0 5px"
                          :src="skills[i].icon"
                        />
                      </div>
                      <div class="col-12 col-md-4 col-lg-3 mt-2">Back End:</div>
                      <div class="col-12 col-md-8 col-lg-9 mt-0 mt-lg-1">
                        <img
                          v-for="i in p.back"
                          class="mt-1"
                          width="30"
                          style="margin: 0 5px"
                          :src="backend[i].icon"
                        />
                      </div>
                      <div class="col-12 col-md-4 col-lg-3 mt-2">Tools:</div>
                      <div class="col-12 col-md-8 col-lg-9 mt-0 mt-lg-1">
                        <img
                          v-for="i in p.tool"
                          width="30"
                          class="mt-1"
                          style="margin: 0 5px"
                          :src="cloud[i].icon"
                        />
                        <img
                          v-for="i in p.other"
                          class="mt-1"
                          width="30"
                          style="margin: 0 5px"
                          :src="other[i].icon"
                        />
                      </div>
                    </div>
                    <div class="mt-2 source">source:</div>
                    <div class="row content-source">
                      <div v-for="s in p.source" class="col-6">
                        <a
                          style="padding: 0; width: 100%"
                          target="_blank"
                          class="btn btn-link"
                          :href="s.url"
                        >
                          {{ s.name }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section px-2 px-lg-4 pb-4 pt-5 mb-5" id="contact">
            <div class="container-narrow">
              <div class="text-center mb-5">
                <h2 class="marker marker-center">Contact Me</h2>
              </div>
              <div class="row">
                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="100">
                  <div class="bg-light my-2 p-3 pt-2">
                    <form
                      action="https://formspree.io/your@email.com"
                      method="POST"
                    >
                      <div class="form-group my-2">
                        <label for="name" class="form-label fw-bolder"
                          >Name</label
                        >
                        <input
                          class="form-control"
                          v-model="name"
                          type="text"
                          id="name"
                          name="name"
                          required
                        />
                      </div>
                      <div class="form-group my-2">
                        <label for="email" class="form-label fw-bolder"
                          >Email</label
                        >
                        <input
                          v-model="senderMail"
                          class="form-control"
                          type="email"
                          id="email-form"
                          name="_replyto"
                          required
                        />
                      </div>
                      <div class="form-group my-2">
                        <label for="message" class="form-label fw-bolder"
                          >Message</label
                        >
                        <textarea
                          v-model="message"
                          class="form-control"
                          style="resize: none"
                          id="message"
                          name="message"
                          rows="4"
                          required
                        ></textarea>
                      </div>
                      <button @click="sendEmail" class="btn btn-primary mt-2" type="submit">
                        Send
                      </button>
                    </form>
                  </div>
                </div>
                <div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
                  <div class="mt-3 px-1">
                    <div class="h5">Let’s talk how I can help you!</div>
                    <p>
                      If you like my work and if you feel we can work together
                      drop me a message using the contact form.
                    </p>
                    <p>
                      Or get in touch using my email or number.
                    </p>
                    <p>See you!</p>
                  </div>
                  <div class="mt-53 px-1">
                    <div class="row">
                      <div class="col-sm-2">
                        <div class="pb-1">Email:</div>
                      </div>
                      <div class="col-sm-10">
                        <div class="pb-1 fw-bolder">yora46@gmail.com</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="pt-4 pb-4 text-center bg-light">
            <div class="container">
              <div class="my-3">
                <div class="h4">Phuree Kanusont</div>
                <p>Software Engineer</p>
                <div class="social-nav">
                  <nav role="navigation">
                    <ul class="nav justify-content-center">
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="https://www.facebook.com/phureek"
                          title="Facebook"
                          ><i class="fab fa-facebook"></i
                          ><span class="menu-title sr-only"
                            >Facebook</span
                          ></a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="https://www.instagram.com/_imyora"
                          title="Instagram"
                          ><i class="fab fa-instagram"></i
                          ><span class="menu-title sr-only"
                            >Instagram</span
                          ></a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="https://www.linkedin.com/in/phuree-kanusont-33482a231/"
                          title="Linkedin"
                          ><i class="fab fa-linkedin"></i
                          ><span class="menu-title sr-only">Linkedin</span></a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="text-small text-secondary">
                <div class="mb-1">&copy; Super Folio. All rights reserved.</div>
                <div>
                  <!-- Make sure to buy a license for the template before removing the line below. Buy license on https://templateflip.com/ -->Design
                  -
                  <a href="https://templateflip.com/" target="_blank"
                    >TemplateFlip</a
                  >
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
      <div id="scrolltop">
        <a class="btn btn-secondary" href="#top"
          ><span class="icon"><i class="fas fa-angle-up fa-x"></i></span
        ></a>
      </div>
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
      <script src="./scripts/imagesloaded.pkgd.min.js?ver=1.2.0"></script>
      <script src="./scripts/masonry.pkgd.min.js?ver=1.2.0"></script>
      <script src="./scripts/BigPicture.min.js?ver=1.2.0"></script>
      <script src="./scripts/purecounter.min.js?ver=1.2.0"></script>
      <script src="./scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script src="./scripts/main.js?ver=1.2.0"></script>
      <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-app-compat.js"></script>
      <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-firestore-compat.js"></script>
      <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-auth-compat.js"></script>
      <script type="module" src="/main.js"></script>
    </div>
  </body>
</html>
