<!DOCTYPE html>
<!-- upto 2 directory depth-->
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Q's Port</title>
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="crossorigin"
    />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      />
    </noscript>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link
      href="./css/font-awesome/css/all.min.css?ver=1.2.0"
      rel="stylesheet"
    />
    <link
      href="./css/bootstrap-icons/bootstrap-icons.css?ver=1.2.0"
      rel="stylesheet"
    />
    <link href="./css/bootstrap.min.css?ver=1.2.0" rel="stylesheet" />
    <link href="./css/aos.css?ver=1.2.0" rel="stylesheet" />
    <link href="./css/main.css?ver=1.2.0" rel="stylesheet" />
    <noscript>
      <style type="text/css">
        [data-aos] {
          opacity: 1 !important;
          transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>

  <body id="top">
    <div id="app">
      <div
        v-for="(p,i) in ports"
        class="modal fade"
        :id="p.id"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{p.name}}</h5>
              <button
                type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="project-description m-content">{{ p.desc }}</p>
              <div class="row content-tool m-content">
                <div class="col-12 col-md-4 col-lg-3 mt-2">Front End:</div>
                <div class="col-12 col-md-8 col-lg-9 mt-0 mt-lg-1">
                  <img
                    v-for="i in p.front"
                    class="mt-1"
                    width="30"
                    style="margin: 0 5px"
                    :src="skills[i].icon"
                  />
                </div>
                <div class="col-12 col-md-4 col-lg-3 mt-2">Back End:</div>
                <div class="col-12 col-md-8 col-lg-9 mt-0 mt-lg-1">
                  <img
                    v-for="i in p.back"
                    class="mt-1"
                    width="30"
                    style="margin: 0 5px"
                    :src="backend[i].icon"
                  />
                </div>
                <div class="col-12 col-md-4 col-lg-3 mt-2">Tools:</div>
                <div class="col-12 col-md-8 col-lg-9 mt-0 mt-lg-1">
                  <img
                    v-for="i in p.tool"
                    width="30"
                    class="mt-1"
                    style="margin: 0 5px"
                    :src="cloud[i].icon"
                  />
                  <img
                    v-for="i in p.other"
                    class="mt-1"
                    width="30"
                    style="margin: 0 5px"
                    :src="other[i].icon"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <header class="bg-light">
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light"
          id="header-nav"
          role="navigation"
        >
          <div class="container">
            <a class="link-dark navbar-brand site-title mb-0" href="#"
              >Yora's Resume</a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto me-2">
                <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#services">Experienced Fields</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="page-content">
        <div id="content">
          <header>
            <div class="cover bg-light">
              <div class="container px-3">
                <div class="row">
                  <div class="col-lg-6 p-2">
                    <img
                      class="img-fluid"
                      src="images/illustrations/hello3.svg"
                      alt="hello"
                    />
                  </div>
                  <div class="col-lg-6">
                    <div class="mt-5">
                      <p class="lead text-uppercase mb-1">Hello!</p>
                      <h1
                        class="intro-title marker"
                        data-aos="fade-left"
                        data-aos-delay="50"
                      >
                        I’m Phuree Kanusont
                      </h1>
                      <p
                        class="lead fw-normal mt-3"
                        data-aos="fade-up"
                        data-aos-delay="100"
                      >
                        Full Stack Developer
                      </p>
                      <div
                        class="social-nav"
                        data-aos="fade-up"
                        data-aos-delay="200"
                      >
                        <nav role="navigation">
                          <ul class="nav justify-content-left">
                            <li class="nav-item">
                              <a
                                class="nav-link"
                                href="https://www.facebook.com/phureek"
                                title="Facebook"
                                ><i class="fab fa-facebook"></i
                                ><span class="menu-title sr-only"
                                  >Facebook</span
                                ></a
                              >
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link"
                                href="https://www.instagram.com/_imyora"
                                title="Instagram"
                                ><i class="fab fa-instagram"></i
                                ><span class="menu-title sr-only"
                                  >Instagram</span
                                ></a
                              >
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link"
                                href="https://line.me/ti/p/fTAzh4kale"
                                title="Line"
                                ><i class="fab fa-line"></i
                                ><span class="menu-title sr-only">Line</span></a
                              >
                            </li>
                          </ul>
                        </nav>
                      </div>
                      <div class="mt-3" data-aos="fade-up" data-aos-delay="200">
                        <a
                          class="btn btn-primary shadow-sm mt-1 hover-effect"
                          href="#contact"
                          >Get In Touch <i class="fas fa-arrow-right"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wave-bg"></div>
          </header>
          <div class="section pt-4 px-3 px-lg-4" id="about">
            <div class="container-narrow">
              <div class="row">
                <div class="col-md-6 order-2 order-md-1">
                  <h2 class="h4 mt-3 mt-md-2 my-2">
                    Hello! I'm Phuree Kanusont.
                  </h2>
                  <p style="text-align: justify;">
                    I graduated from branch of Software Engineering, faculty of
                    Information Technology, King Mongkut's Institute of
                    Technology Ladkrabang. I am passionate in technologies. I am
                    a skilled full stack developer with experience in Cloud
                    Technologies. I am a quick learner and a team worker that
                    gets the job done for my ultimate goal which is being an
                    excellent developer.
                  </p>
                  <div class="row mt-3">
                    <div class="col-sm-2">
                      <div class="pb-1">Age:</div>
                    </div>
                    <div class="col-sm-10">
                      <div class="pb-1 fw-bolder">{{ age }}</div>
                    </div>
                    <div class="col-sm-2">
                      <div class="pb-1">Email:</div>
                    </div>
                    <div class="col-sm-10">
                      <div class="pb-1 fw-bolder">{{ email }}</div>
                    </div>
                    <div class="col-sm-2">
                      <div class="pb-1">Location:</div>
                    </div>
                    <div class="col-sm-10">
                      <div class="pb-1 fw-bolder">{{ address }}</div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-md-5 order-1 order-md-2"
                  data-aos="fade-left"
                  data-aos-delay="100"
                >
                  <img
                    class="avatar img-fluid mt-2"
                    src="images/avatar.jpg"
                    width="400"
                    height="400"
                    alt="Yora Kim"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="section px-3 px-lg-4 pt-5" id="services">
            <div class="container-narrow">
              <div class="text-center mb-5">
                <h2 class="marker marker-center">Experienced Fields</h2>
              </div>
              <div class="text-center">
                <p class="mx-auto mb-3" style="max-width: 600px">
                  I have studied multiple essential fields in application
                  development therefore, I am able to finish many projects as a
                  full stack developer.
                </p>
              </div>
              <div class="row py-3">
                <div
                  class="col-md-3 text-center"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  <img
                    class="mb-2"
                    src="images/services/frontend.png"
                    width="96"
                    height="96"
                    alt="web design"
                  />
                  <div class="h5">Front End Development</div>
                </div>
                <div
                  class="col-md-3 text-center"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  <img
                    class="mb-2"
                    src="images/services/backend.png"
                    width="96"
                    height="96"
                    alt="graphic design"
                  />
                  <div class="h5">Back End Development</div>
                </div>
                <div
                  class="col-md-3 text-center"
                  data-aos="fade-up"
                  data-aos-delay="300"
                >
                  <img
                    class="mb-2"
                    src="images/services/cloud.png"
                    width="96"
                    height="96"
                    alt="ui-ux"
                  />
                  <div class="h5">Cloud Engineering</div>
                </div>
                <div
                  class="col-md-3 text-center"
                  data-aos="fade-up"
                  data-aos-delay="400"
                >
                  <img
                    class="mb-2"
                    src="images/services/mobileapp.png"
                    width="96"
                    height="96"
                    alt="app development"
                  />
                  <div class="h5">Mobile App Development</div>
                </div>
              </div>
            </div>
          </div>
          <div class="section px-3 px-lg-4 pt-5" id="skills">
            <div class="container-narrow">
              <div class="text-center mb-5">
                <h2 class="marker marker-center">My Skills</h2>
              </div>
              <div class="text-center">
                <p class="mx-auto mb-3" style="max-width: 600px">
                  I am a quick learner and specialize in multitude of skills
                  required for Application Development.
                </p>
              </div>
              <div class="bg-light p-3">
                <div class="row" data-aos="zoom-in-up" data-aos-delay="100">
                  <h3>Front End</h3>
                  <div
                    v-for="(s, i) in skills"
                    :key="s.name"
                    class="col-6 col-md-2 text-center"
                    data-aos="fade-up"
                    :data-aos-delay="(i+1)*50"
                  >
                    <img
                      class="mb-2"
                      :src="s.icon"
                      width="40"
                      height="40"
                      alt="web design"
                    />
                    <div class="h5">{{s.name}}</div>
                  </div>
                </div>
              </div>
              <div class="bg-light mt-2 p-3">
                <div class="row" data-aos="zoom-in-up" data-aos-delay="100">
                  <h3>Back End</h3>
                  <div
                    v-for="(s, i) in backend"
                    :key="s.name"
                    class="col-6 col-md-2 text-center"
                    data-aos="fade-up"
                    :data-aos-delay="(i+1)*50"
                  >
                    <img
                      class="mb-2"
                      :src="s.icon"
                      width="40"
                      height="40"
                      alt="web design"
                    />
                    <div class="h5">{{s.name}}</div>
                  </div>
                </div>
              </div>
              <div class="bg-light mt-2 p-3">
                <div class="row" data-aos="zoom-in-up" data-aos-delay="100">
                  <h3>Cloud Technologies</h3>
                  <div
                    v-for="(s, i) in cloud"
                    :key="s.name"
                    class="col-6 col-md-2 text-center"
                    data-aos="fade-up"
                    :data-aos-delay="(i+1)*50"
                  >
                    <img
                      class="mb-2"
                      :src="s.icon"
                      width="40"
                      height="40"
                      alt="web design"
                    />
                    <div class="h5">{{s.name}}</div>
                  </div>
                </div>
              </div>
              <div class="bg-light mt-2 p-3">
                <div class="row" data-aos="zoom-in-up" data-aos-delay="100">
                  <h3>Others related skills</h3>
                  <div
                    v-for="(s, i) in other"
                    :key="s.name"
                    class="col-6 col-md-2 text-center"
                    data-aos="fade-up"
                    :data-aos-delay="(i+1)*50"
                  >
                    <img
                      class="mb-2"
                      :src="s.icon"
                      width="40"
                      height="40"
                      alt="web design"
                    />
                    <div class="h5">{{s.name}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section px-2 px-lg-4 pt-5" id="portfolio">
            <div class="container">
              <div class="text-center mb-5">
                <h2 class="marker marker-center">Portfolio</h2>
              </div>
              <div
                class="grid bp-gallery pb-3"
                data-aos="zoom-in-up"
                data-aos-delay="100"
              >
                <div class="row gy-3">
                  <div
                    v-for="(p, i) in ports"
                    data-aos="zoom-in-up"
                    :data-aos-delay="(i+1) * 100"
                    class="col-12 col-md-6 col-lg-4"
                  >
                    <img width="100%" :src="p.thumbnail" :alt="p.name" />
                    <div class="content-detail">
                      <h4 class="mt-2">{{p.name}}</h4>
                      <p class="project-description">{{ p.desc }}</p>
                      <button
                        class="btn btn-link"
                        data-bs-toggle="modal"
                        :data-bs-target="'#' + p.id"
                        style="
                          font-weight: 600;
                          margin-bottom: 10px;
                          padding: 10px;
                        "
                        v-if="isMobile"
                      >
                        more detail
                      </button>
                    </div>
                    <div class="row content-tool">
                      <div class="col-12 col-md-4 col-lg-3 mt-2">
                        Front End:
                      </div>
                      <div class="col-12 col-md-8 col-lg-9 mt-0 mt-lg-1">
                        <img
                          v-for="i in p.front"
                          class="mt-1"
                          width="30"
                          style="margin: 0 5px"
                          :src="skills[i].icon"
                        />
                      </div>
                      <div class="col-12 col-md-4 col-lg-3 mt-2">Back End:</div>
                      <div class="col-12 col-md-8 col-lg-9 mt-0 mt-lg-1">
                        <img
                          v-for="i in p.back"
                          class="mt-1"
                          width="30"
                          style="margin: 0 5px"
                          :src="backend[i].icon"
                        />
                      </div>
                      <div class="col-12 col-md-4 col-lg-3 mt-2">Tools:</div>
                      <div class="col-12 col-md-8 col-lg-9 mt-0 mt-lg-1">
                        <img
                          v-for="i in p.tool"
                          width="30"
                          class="mt-1"
                          style="margin: 0 5px"
                          :src="cloud[i].icon"
                        />
                        <img
                          v-for="i in p.other"
                          class="mt-1"
                          width="30"
                          style="margin: 0 5px"
                          :src="other[i].icon"
                        />
                      </div>
                    </div>
                    <div class="mt-2 source">source:</div>
                    <div class="row content-source">
                      <div v-for="s in p.source" class="col-6">
                        <a
                          style="padding: 0; width: 100%"
                          target="_blank"
                          class="btn btn-link"
                          :href="s.url"
                        >
                          {{ s.name }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section px-2 px-lg-4 pb-4 pt-5 mb-5" id="contact">
            <div class="container-narrow">
              <div class="text-center mb-5">
                <h2 class="marker marker-center">Contact Me</h2>
              </div>
              <div class="row">
                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="100">
                  <div class="bg-light my-2 p-3 pt-2">
                    <form
                      action="https://formspree.io/your@email.com"
                      method="POST"
                    >
                      <div class="form-group my-2">
                        <label for="name" class="form-label fw-bolder"
                          >Name</label
                        >
                        <input
                          class="form-control"
                          v-model="name"
                          type="text"
                          id="name"
                          name="name"
                          required
                        />
                      </div>
                      <div class="form-group my-2">
                        <label for="email" class="form-label fw-bolder"
                          >Email</label
                        >
                        <input
                          v-model="senderMail"
                          class="form-control"
                          type="email"
                          id="email-form"
                          name="_replyto"
                          required
                        />
                      </div>
                      <div class="form-group my-2">
                        <label for="message" class="form-label fw-bolder"
                          >Message</label
                        >
                        <textarea
                          v-model="message"
                          class="form-control"
                          style="resize: none"
                          id="message"
                          name="message"
                          rows="4"
                          required
                        ></textarea>
                      </div>
                      <button @click="sendEmail" class="btn btn-primary mt-2" type="submit">
                        Send
                      </button>
                    </form>
                  </div>
                </div>
                <div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
                  <div class="mt-3 px-1">
                    <div class="h5">Let’s talk how I can help you!</div>
                    <p>
                      If you like my work and if you feel we can work together
                      drop me a message using the contact form.
                    </p>
                    <p>
                      Or get in touch using my email or number.
                    </p>
                    <p>See you!</p>
                  </div>
                  <div class="mt-53 px-1">
                    <div class="row">
                      <div class="col-sm-2">
                        <div class="pb-1">Email:</div>
                      </div>
                      <div class="col-sm-10">
                        <div class="pb-1 fw-bolder">yora46@gmail.com</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="pt-4 pb-4 text-center bg-light">
            <div class="container">
              <div class="my-3">
                <div class="h4">Phuree Kanusont</div>
                <p>Full Stack Developer</p>
                <div class="social-nav">
                  <nav role="navigation">
                    <ul class="nav justify-content-center">
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="https://www.facebook.com/phureek"
                          title="Facebook"
                          ><i class="fab fa-facebook"></i
                          ><span class="menu-title sr-only"
                            >Facebook</span
                          ></a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="https://www.instagram.com/_imyora"
                          title="Instagram"
                          ><i class="fab fa-instagram"></i
                          ><span class="menu-title sr-only"
                            >Instagram</span
                          ></a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="https://line.me/ti/p/fTAzh4kale"
                          title="Line"
                          ><i class="fab fa-line"></i
                          ><span class="menu-title sr-only">Line</span></a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="text-small text-secondary">
                <div class="mb-1">&copy; Super Folio. All rights reserved.</div>
                <div>
                  <!-- Make sure to buy a license for the template before removing the line below. Buy license on https://templateflip.com/ -->Design
                  -
                  <a href="https://templateflip.com/" target="_blank"
                    >TemplateFlip</a
                  >
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
      <div id="scrolltop">
        <a class="btn btn-secondary" href="#top"
          ><span class="icon"><i class="fas fa-angle-up fa-x"></i></span
        ></a>
      </div>
      <script src="./scripts/imagesloaded.pkgd.min.js?ver=1.2.0"></script>
      <script src="./scripts/masonry.pkgd.min.js?ver=1.2.0"></script>
      <script src="./scripts/BigPicture.min.js?ver=1.2.0"></script>
      <script src="./scripts/purecounter.min.js?ver=1.2.0"></script>
      <script src="./scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
      <script src="./scripts/aos.min.js?ver=1.2.0"></script>
      <script src="./scripts/main.js?ver=1.2.0"></script>
      <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-app-compat.js"></script>
      <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-firestore-compat.js"></script>
      <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-auth-compat.js"></script>
      <script>
        const firebaseConfig = {
          apiKey: "AIzaSyCIgVVldEnqhlzwkqVDtOeWw_a5oZdQDF8",
          authDomain: "yora-resume.firebaseapp.com",
          projectId: "yora-resume",
          storageBucket: "yora-resume.appspot.com",
          messagingSenderId: "463287187696",
          appId: "1:463287187696:web:94bfb048387418ae9faa35",
          measurementId: "G-W9F98P0V98",
        };

        // Initialize Firebase
        const firebaseApp = firebase.initializeApp(firebaseConfig);
        const db = firebase.firestore()
        const d = new Date();
        const app = new Vue({
          el: "#app",
          data: {
            age: d.getFullYear() - 1998,
            email: "yora46@gmail.com",
            name: '',
            senderMail: '',
            message: '',
            address: "Bangkok, Thailand",
            skills: [
              {
                name: "HTML",
                icon: "images/skills/html.png",
              },
              {
                name: "CSS",
                icon: "images/skills/css.png",
              },
              {
                name: "JavaScript",
                icon: "images/skills/javascript.png",
              },
              {
                name: "TypeScript",
                icon: "images/skills/ts.png",
              },
              {
                name: "React",
                icon: "images/skills/react.png",
              },
              {
                name: "Vue",
                icon: "images/skills/vue.png",
              },
              {
                name: "Lottie",
                icon: "images/skills/lottie.svg",
              },
              {
                name: "Bootstrap",
                icon: "images/skills/bs.png",
              },
              {
                name: "Material UI",
                icon: "images/skills/mat.png",
              },
              {
                name: "Ant Design",
                icon: "images/skills/antd.svg",
              },
            ],
            backend: [
              {
                name: "Next",
                icon: "images/skills/next.png",
              },
              {
                name: "Nuxt",
                icon: "images/skills/nuxt.png",
              },
              {
                name: "Node.js",
                icon: "images/skills/node.png",
              },
              {
                name: "Django",
                icon: "images/skills/django.png",
              },
              {
                name: "Flask",
                icon: "images/skills/flask.png",
              },
              {
                name: "Python",
                icon: "images/skills/python.png",
              },
            ],
            other: [
              {
                name: "Photoshop",
                icon: "images/skills/adobe/Photoshop-96.png",
              },
              {
                name: "Illustrator",
                icon: "images/skills/adobe/Illustrator-96.png",
              },
              {
                name: "XD",
                icon: "images/skills/adobe/XD-96.png",
              },
              {
                name: "Lightroom",
                icon: "images/skills/adobe/Lightroom-96.png",
              },
              {
                name: "Audition",
                icon: "images/skills/adobe/Audition-96.png",
              },
              {
                name: "InDesign",
                icon: "images/skills/adobe/InDesign-96.png",
              },
              {
                name: "Premiere",
                icon: "images/skills/adobe/Premiere-96.png",
              },
              {
                name: "After Effect",
                icon: "images/skills/adobe/After Effects-96.png",
              },
            ],
            cloud: [
              {
                name: "Docker",
                icon: "images/skills/docker.png",
              },
              {
                name: "Heroku",
                icon: "images/skills/heroku.jpg",
              },
              {
                name: "Firebase Auth",
                icon: "images/skills/auth.png",
              },
              {
                name: "Firebase Real-time Database",
                icon: "images/skills/realtime.png",
              },
              {
                name: "Firestore",
                icon: "images/skills/firestore.png",
              },
              {
                name: "Cloud Storage",
                icon: "images/skills/cloudstorage.png",
              },
              {
                name: "Firebase Functions",
                icon: "images/skills/function.png",
              },
              {
                name: "Firebase Hosting",
                icon: "images/skills/hosting.png",
              },
              {
                name: "Google Analytics",
                icon: "images/skills/analytics.png",
              },
              {
                name: "GC Compute Engine",
                icon: "images/skills/comen.png",
              },
              {
                name: "GC App Engine",
                icon: "images/skills/appengine.png",
              },
              {
                name: "GC Cloud Sql",
                icon: "images/skills/cloudsql.png",
              },
              {
                name: "GC IAM",
                icon: "images/skills/iam.png",
              },
              {
                name: "AWS EC2",
                icon: "images/skills/ec2.png",
              },
              {
                name: "AWS Elastic Beanstalk",
                icon: "images/skills/beanstalk.png",
              },
              {
                name: "AWS S3",
                icon: "images/skills/sss.png",
              },
              {
                name: "AWS Route 53",
                icon: "images/skills/route.png",
              },
              {
                name: "OpenCV",
                icon: "images/skills/opencv.png",
              },
            ],
            ports: [
              {
                name: "Fruity Bloom",
                id: "fruity-bloom",
                desc: `This project is about 'Body Shaming' communicated through
                      12 different fruity characters. I took part in developing
                      web pages using Vue.js, using Lottie to convert After
                      Effect's animation into Javascirpt and CSS animation and
                      deploying on Firebase Hosting.`,
                thumbnail: "images/portfolio/fruitybloom.jpg",
                front: [5, 6, 7],
                back: [],
                tool: [7],
                other: [0, 1, 7],
                source: [
                  {
                    name: "Github",
                    url: "https://github.com/realkyr/projectp",
                  },
                  {
                    name: "Website",
                    url: "https://fruitybloom.club/",
                  },
                ],
              },
              {
                name: "Super Jiew Bible Contest",
                id: "super-jiew",
                desc: `I am responsible for whole project except UI design. This project is currently
                      on production and is used by the students participating Bible multiple
                      choices online test held by Thailand Bible Society. Key feature is
                      almost real-time result report using Google Sheet API. You can use 00000 code to test.`,
                thumbnail: "images/portfolio/sj.jpg",
                front: [4, 8],
                back: [2],
                tool: [2, 4, 5, 6, 7],
                other: [0, 1],
                source: [
                  {
                    name: "Github",
                    url: "https://github.com/realkyr/super-tiny-contest",
                  },
                  {
                    name: "Website",
                    url: "https://super-tiny.web.app/",
                  },
                  {
                    name: "Video Admin Tutorial",
                    url: "https://youtu.be/snoTNGmm1gM",
                  },
                ],
              },
              {
                name: "Mover School Bus",
                id: "mover-schoolbus",
                desc: `Mover's core feature is to sent the location from mobile app
                      to firebase real-time to notify parent when school bus is coming near
                      or not. This project has been in the startup acceleration. Developer
                      team is the finalist of Business Brotherhood 2018 by presenting this project.`,
                thumbnail: "images/portfolio/mover.jpg",
                front: [5],
                back: [2],
                tool: [2, 4, 5, 6, 7],
                other: [],
                source: [
                  {
                    name: "Github",
                    url: "https://github.com/realkyr/Mover-Manager",
                  },
                  {
                    name: "Website",
                    url: "https://mover-schoolbus.web.app/",
                  },
                ],
              },
              {
                name: "Deep Listen Story App",
                id: "deep-listening",
                desc: `This project has been developed to make people aware of
                      being a good listener in family because nowadays many people
                      neglect to listen to others people. The application arouse user
                      by music and interactive story telling. I participated in Front End
                      development using integration of React, Ant Design and Lottie.`,
                thumbnail: "images/portfolio/deeplisten.jpg",
                front: [4, 6, 9],
                back: [],
                tool: [4, 7],
                other: [0, 1, 7],
                source: [
                  {
                    name: "Github",
                    url: "https://github.com/realkyr/deep-listening",
                  },
                  {
                    name: "Website",
                    url: "https://deeplistening-85c42.web.app/",
                  },
                ],
              },
              {
                name: "Cafeteller",
                id: "cafeteller",
                desc: `Key features of Cafeteller are a cafe review platform by experts and
                      finding cafes located near by using user's location. The platform is
                      developed by using Next.js, Firestore and Editor.js which is block content
                      editor library for writing review, deployed on Google App Engine.`,
                thumbnail: "images/portfolio/cafeteller.jpg",
                front: [4, 9],
                back: [0, 2],
                tool: [2, 4, 5, 6, 10, 8],
                other: [],
                source: [
                  {
                    name: "Github (Private)",
                    url: "https://github.com/realkyr/cafeteller",
                  },
                  {
                    name: "Website",
                    url: "https://cafeteller.club/",
                  },
                ],
              },
              {
                name: "Fast Scoring",
                id: "fast-scoring",
                desc: `This is my senior project. Using lots of tools and Google's Cloud
                      products is challenged. Fast Scoring is a paper-based multiple
                      choices test marking system by using only phone camera. We use OpenCV
                      deployed on Cloud Function and homography knowledge to align the answer
                      sheet paper then generate result in variety of format.`,
                thumbnail: "images/portfolio/fastscoring.jpg",
                front: [4, 9],
                back: [5],
                tool: [17, 2, 4, 5, 6, 7, 8],
                other: [],
                source: [
                  {
                    name: "Github Web",
                    url: "https://github.com/realkyr/FastScoring-Web/",
                  },
                  {
                    name: "Website",
                    url: "https://fastscoring.web.app/",
                  },
                  {
                    name: "Brief Presentation",
                    url: "https://youtu.be/hZ9V_tc3QPs",
                  },
                  {
                    name: "Full Presentation",
                    url: "https://youtu.be/wrABtZxzoag",
                  },
                ],
              },
              {
                name: "Transcript",
                id: "transcript",
                desc: `This is my transcript showing learning result from King
                      Mongkut's Institute of Technology Ladkrabang.`,
                thumbnail: "images/portfolio/transcript.jpg",
                front: [],
                back: [],
                tool: [],
                other: [],
                source: [
                  {
                    name: "Download",
                    url: "https://drive.google.com/file/d/1mpsVANyPBi2VBRvw8RpnoocioBAcqgAf/view?usp=sharing",
                  },
                ],
              },
              {
                name: "Love Peach Page",
                id: "love-peach",
                desc: `I have my own song on Youtube. Nobody shares my song's chord
                      so I developed web page to share mine`,
                thumbnail: "images/portfolio/yoralovepeach.jpg",
                front: [4, 9],
                back: [],
                tool: [],
                other: [],
                source: [
                  {
                    name: "Website",
                    url: "https://lovepeach-studio.appspot.com/just",
                  },
                  {
                    name: "My Song",
                    url: "https://youtu.be/90l8STP76-4",
                  },
                  {
                    name: "Github",
                    url: "https://github.com/realkyr/Love-Peach",
                  },
                ],
              },
              {
                name: "Suanluang Church QR Generator",
                id: "sl-church",
                desc: `I am working this project with my home church.
                      The feature is when upload "Welcome Card", the web app
                      will generate QR code which people who come to church
                      can scan and download the card.`,
                thumbnail: "images/portfolio/slchurch.jpg",
                front: [5, 8],
                back: [2],
                tool: [2, 4, 5, 6, 7],
                other: [],
                source: [
                  {
                    name: "Website",
                    url: "https://suanluang-church.web.app/",
                  },
                  {
                    name: "Github",
                    url: "https://github.com/realkyr/SuanluangChurch-Web",
                  },
                ],
              },
              {
                name: "Caladium Classification",
                id: "caladium-class",
                desc: `This project is about Caladium Classification using OpenCV and Tensorflow
                        in handcraft based and learning based and a part of
                        Image Transformation and recognition class.
                        I am responsible for handcraft based recognition.`,
                thumbnail: "images/portfolio/caladium.jpg",
                front: [],
                back: [5],
                tool: [17],
                other: [],
                source: [
                  {
                    name: "Github",
                    url: "https://github.com/realkyr/Caladium-Classification",
                  },
                  {
                    name: "Presentation & Result",
                    url: "https://docs.google.com/presentation/d/1r22CbbU-AW51zVVz1zQkuL0SBtBBjP3FtA_ii-tXoek/edit?usp=sharing",
                  },
                ],
              },
              {
                name: "Hospital Location Service",
                id: "location-service",
                desc: `This project was developed in my junior year university
                      to learning Microservices architecture and docker.`,
                thumbnail: "images/portfolio/soplocation.jpg",
                front: [],
                back: [5],
                tool: [0, 10],
                other: [],
                source: [
                  {
                    name: "Github",
                    url: "https://github.com/realkyr/SOP_Location_Service",
                  },
                ],
              },
              {
                name: "Grandcine",
                id: "grandcine",
                desc: `This project was developed in my sophomore year university
                      to learning Vue.js and Firebase. This is Front End Development
                      of booking cinema seats system`,
                thumbnail: "images/portfolio/grandcine.jpg",
                front: [5],
                back: [],
                tool: [2, 4, 7],
                other: [],
                source: [
                  {
                    name: "Github",
                    url: "https://github.com/realkyr/Grandcine",
                  },
                  {
                    name: "Website",
                    url: "https://grandcine.web.app/",
                  },
                ],
              },
              {
                name: "React Classroom",
                id: "react-classroom",
                desc: `I worked as a part-time tutor for juniors at the university
                      teaching React and Firebase. This is an example of the homeworks
                      and recorded video from class.`,
                thumbnail: "images/portfolio/classroom.jpg",
                front: [5],
                back: [],
                tool: [],
                other: [],
                source: [
                  {
                    name: "Homework",
                    url: "https://react-classroom.web.app/",
                  },
                  {
                    name: "Sample Video 1",
                    url: "https://youtu.be/OAb9a4tbcfo",
                  },
                  {
                    name: "Sample Video 2",
                    url: "https://youtu.be/9qlF3a3e83U",
                  },
                ],
              },
              {
                name: "Business Brotherhood 2018",
                id: "business-bro",
                desc: `Business Brotherhood is Startup incubation program. The aim is to develop
                      students to be ready to make good use of the resources available at the
                      university for effective startups. Our team has became finalist
                      of the program by developing Mover Security Platform.`,
                thumbnail: "images/portfolio/businessbro.jpg",
                front: [],
                back: [],
                tool: [],
                other: [],
                source: [],
              },
              {
                name: "Business Brotherhood 2018 Certificate",
                id: "business-cert",
                desc: `The certificate certified that I am a finalist of
                      Business Brotherhood 2018, Startup incubation program
                      that is ready to grow by leaps and bounds.`,
                thumbnail: "images/portfolio/businessbbcert.jpg",
                front: [],
                back: [],
                tool: [],
                other: [],
                source: [],
              },
              {
                name: "An Outstanding Student Certificate",
                id: "stud-cert",
                desc: `The certificate certified that I have built up
                      university name by taking part in a competition.`,
                thumbnail: "images/portfolio/studcert.jpg",
                front: [],
                back: [],
                tool: [],
                other: [],
                source: [],
              },
              {
                name: "My Github",
                id: "my-git",
                desc: `I use Github as a web-based version-control and collaboration
                        platform for software developers. You all can check out my
                        others which I didn't mention in this page.`,
                thumbnail: "images/portfolio/github.jpg",
                front: [],
                back: [],
                tool: [],
                other: [],
                source: [
                  {
                    name: "Github",
                    url: "https://github.com/realkyr/",
                  },
                ],
              },
              {
                name: "My Resume",
                id: "my-resume",
                desc: `This resume also shows my skill on web developing.
                      I have used Vue.js to generate most of the posts and icons
                      and modified template from other developer.`,
                thumbnail: "images/portfolio/resume.jpg",
                front: [5],
                back: [],
                tool: [],
                other: [],
                source: [
                  {
                    name: "Github",
                    url: "https://github.com/realkyr/yora-resume",
                  },
                ],
              },
            ],
          },
          methods: {
            async sendEmail (e) {
              e.preventDefault()
              const isMailValid = document.getElementById('email-form').checkValidity()
              if (isMailValid) {
                console.log(this.name, this.senderMail, this.message)
                await db.collection('emails').doc().set({
                  name: this.name,
                  email: this.senderMail,
                  message: this.message
                })
                window.alert('Message send complete')
              } else {
                window.alert('Please check your email validity.')
              }
            }
          },
          computed: {
            isMobile() {
              return window.innerWidth < 992;
            },
          },
        });
      </script>
    </div>
  </body>
</html>
